

html, body {
	
	margin: 0 auto;
	font-family: sans-serif;
	font-size: 19px;
    background-attachment: fixed; 
    background-image: url("../img/back.jpg")
}

h1 {
	margin: 2px;
    text-align: center;
}
#circleGame{
    background: linear-gradient(171deg, rgba(214, 214, 214, 1) 0%, rgba(218, 227, 213, 1) 50%, rgba(156, 186, 156, 1) 100%);
    cursor: url(../img/shank.png),auto;
}
	
button {
    padding: 8px;
   }

#content {
	display:flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    flex-wrap:wrap;
}
#circleGame .enemy.sword {
    background:#d62828;
    
}

#circleGame .enemy.bow { 
    background:#2a9d8f; 
}

#circleGame .enemy.wiz {
    background:#277da1; 
    
}

.beam-seg { 
    width:6px;
    height:6px;
    background:#277da1;
 }
.arrow { width:14px; height:3px; background:#444; }
	
#mainClick {
    width: 50%;

}
#gamespace {
    cursor: url(../img/shank.png),auto;
  

}


.col1{
    text-align:center;
    width: 550px;
    min-width: 400px;
}


@media only screen and (max-width: 900px){
    #content{
        display: inline-block;
    }
    .col1{
        margin:0 auto;
    }
}

#direction {
    text-align: center;
    font-size: 19px;
}
#leftside{
  width: 50%; 
  margin-left: auto;
  margin-right: auto;
 
}
